<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AppSchool</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Dashboard -->
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>


        <!-- Akademik -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Customer Service
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/customer/service/nasabah" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Nasabah</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/customer/service/pembukaan-produk" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pembukaan Rekening</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Akademik -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Teller
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/teller/transaksi" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Transaksi</p>
              </a>
            </li>
          </ul>
        </li>


        <!-- Akademik -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Akademik
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/akademik/santri" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Santri</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/akademik/asatid" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Asatidz</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/akademik/mata-pelajaran" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Mata Pelajaran</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/akademik/kelas" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Kelas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/akademik/lembaga" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lembaga</p>
              </a>
            </li>
            <!-- Pengaturan -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Pengaturan
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/akademik/jadwal" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Jadwal</p>
                  </a>
                </li>
              </ul>
            </li>
            <!--li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Laporan
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/akademik/laporan-santri" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Laporan Santri</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/akademik/nilai-santri" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Nilai Santri</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/akademik/raport-digital" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Raport Digital</p>
                  </a>
                </li>
              </ul>
            </li-->
          </ul>
        </li>

        <!-- Keuangan -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>
              Keuangan
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/keuangan/account/account-utama" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Account Utama</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/keuangan/account/sub-account" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sub Account</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/keuangan/transaksi" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Transaksi</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Laporan
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/keuangan/laporan-neraca" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Neraca</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/keuangan/laporan-laba-rugi" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Laba Rugi</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/keuangan/laporan-perubahan-modal" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Perubahan Modal</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/keuangan/laporan-arus-kas" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Arus Kas</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Blog -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              Blog
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/blog/buat-berita" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buat Berita</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/blog/semua-berita" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Semua Berita</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Sistem -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              Sistem
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/sistem/data-client" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Client</p>
              </a>
            </li>
            <!--li class="nav-item">
              <a href="/sistem/pengguna/data-pengguna" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Pengguna</p>
              </a>
            </li-->
            <!--li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Permission</p>
              </a>
            </li-->
          </ul>
        </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
