<%- include('../partials/header') %>
<div class="content-wrapper">
  <div class="content-header">
    <h1>Dashboard</h1>
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Santri</span>
              <span class="info-box-number">
                10
                <small>%</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Asatid</span>
              <span class="info-box-number">41,410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-book"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Kelas</span>
              <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-newspaper"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Berita</span>
              <span class="info-box-number">2,000</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="laporanTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="neraca-tab" data-toggle="tab" href="#neraca" role="tab" aria-controls="neraca" aria-selected="true">Neraca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="arus-kas-tab" data-toggle="tab" href="#arus-kas" role="tab" aria-controls="arus-kas" aria-selected="false">Arus Kas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="laba-rugi-tab" data-toggle="tab" href="#laba-rugi" role="tab" aria-controls="laba-rugi" aria-selected="false">Laba Rugi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="perubahan-modal-tab" data-toggle="tab" href="#perubahan-modal" role="tab" aria-controls="perubahan-modal" aria-selected="false">Perubahan Modal</a>
            </li>
          </ul>

          <div class="tab-content" id="laporanTabsContent">
            <div class="tab-pane fade show active" id="neraca" role="tabpanel" aria-labelledby="neraca-tab">
              <div class="card">
                <div class="card-body">
                  <canvas id="neracaChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="arus-kas" role="tabpanel" aria-labelledby="arus-kas-tab">
              <div class="card">
                <div class="card-body">
                  <canvas id="arusKasChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="laba-rugi" role="tabpanel" aria-labelledby="laba-rugi-tab">
              <div class="card">
                <div class="card-body">
                  <canvas id="labaRugiChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="perubahan-modal" role="tabpanel" aria-labelledby="perubahan-modal-tab">
              <div class="card">
                <div class="card-body">
                  <canvas id="perubahanModalChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  fetchDataAndCreateChart('https://api.appschool.biz.id/api/transaksi/laporan/neraca', createNeracaChart);
  fetchDataAndCreateChart('https://api.appschool.biz.id/api/transaksi/laporan/arus-kas', createArusKasChart);
  fetchDataAndCreateChart('https://api.appschool.biz.id/api/transaksi/laporan/laba-rugi', createLabaRugiChart);
  fetchDataAndCreateChart('https://api.appschool.biz.id/api/transaksi/laporan/perubahan-modal', createPerubahanModalChart);
});

function fetchDataAndCreateChart(url, chartCreator) {
  fetch(url)
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        chartCreator(data.data);
      } else {
        console.error('Failed to fetch data from API');
      }
    })
    .catch(error => console.error('Error fetching data:', error));
}

function createPerubahanModalChart(data) {
  createBarChart('perubahanModalChart', data.map(item => item.account_name), [
    { label: 'Penambahan Modal', color: 'rgba(75, 192, 192, 0.5)', data: data.map(item => parseFloat(item.penambahan_modal)) },
    { label: 'Pengurangan Modal', color: 'rgba(255, 99, 132, 0.5)', data: data.map(item => parseFloat(item.pengurangan_modal)) },
  ]);
}

function createLabaRugiChart(data) {
  createBarChart('labaRugiChart', data.map(item => item.jenis), [
    { label: 'Pendapatan', color: 'rgba(75, 192, 192, 0.5)', data: data.map(item => parseFloat(item.pendapatan)) },
    { label: 'Beban', color: 'rgba(255, 99, 132, 0.5)', data: data.map(item => parseFloat(item.beban)) },
  ]);
}

function createArusKasChart(data) {
  createBarChart('arusKasChart', data.map(item => item.jenis), [
    { label: 'Arus Kas Operasi', color: 'rgba(75, 192, 192, 0.5)', data: data.map(item => parseFloat(item.arus_kas_operasi)) },
  ]);
}

function createNeracaChart(data) {
  const labels = data.map(item => `${item.jenis} - ${item.account_name} - ${item.subaccount_name}`);
  const debitData = data.map(item => parseFloat(item.debit));
  const creditData = data.map(item => parseFloat(item.kredit));

  const ctx = document.getElementById('neracaChart').getContext('2d');
  const neracaChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        { label: 'Debit', backgroundColor: 'rgba(75, 192, 192, 0.5)', borderColor: 'rgba(75, 192, 192, 1)', borderWidth: 1, data: debitData },
        { label: 'Kredit', backgroundColor: 'rgba(255, 99, 132, 0.5)', borderColor: 'rgba(255, 99, 132, 1)', borderWidth: 1, data: creditData },
      ],
    },
    options: { scales: { x: { stacked: true }, y: { stacked: true } } },
  });
}

function createBarChart(canvasId, labels, datasets) {
  const ctx = document.getElementById(canvasId).getContext('2d');
  const chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: datasets.map(dataset => ({
        label: dataset.label,
        backgroundColor: dataset.color,
        borderColor: dataset.color.replace('0.5', '1'),
        borderWidth: 1,
        data: dataset.data,
      })),
    },
    options: { scales: { y: { beginAtZero: true } } },
  });
}

</script>


<%- include('../partials/footer') %>
