<%- include('../../partials/header') %>
<div class="content-wrapper">
  <div class="content-header">
    <h1>Buat Berita</h1>
  </div>

  <section class="content">
    <div class="container-fluid">
      <form id="newsForm">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <label for="title" class="form-label">Title:</label>
                  <input type="text" id="title" name="title" class="form-control" required>
                </div>

                <div class="mb-3">
                  <label for="text" class="form-label">Text:</label>
                  <textarea id="text-summernote" name="text" class="form-control" required></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <label for="images" class="form-label">Select Image:</label>
                  <input type="file" id="images" name="images" class="form-control" accept="image/jpeg, image/png, image/gif">
                </div>

                <div class="mb-3">
                  <label for="type" class="form-label">Type:</label>
                  <select id="type" name="type" class="form-select" required>
                    <option value="utama">Utama</option>
                    <option value="umum">Umum</option>
                    <option value="agenda">Agenda</option>
                    <option value="pengumuman">Pengumuman</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="status" class="form-label">Status:</label>
                  <select id="status" name="status" class="form-select" required>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                </div>

                <button type="button" class="btn btn-primary" onclick="submitNews()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<script>
  const submitNews = async () => {
    const form = document.getElementById('newsForm');
    const formData = new FormData(form);

    try {
      const response = await fetch('https://api.appschool.biz.id/api/news/create', {
        method: 'POST', // Ganti dengan 'PUT' jika Anda ingin melakukan pembaruan (update)
        body: formData,
        headers: {
          'x-api-key': apiKey,
        },
      });

      if (response.ok) {
        alert('Operation successful!');
        form.reset();
      } else {
        const errorData = await response.json();
        alert(`Operation failed: ${errorData.message}`);
      }
    } catch (error) {
      console.error(error);
      alert('An error occurred during the operation.');
    }
  };

  $(function () {
    // Summernote
    $('#text-summernote').summernote()

    // CodeMirror
    CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
      mode: "htmlmixed",
      theme: "monokai"
    });
  })
</script>

<%- include('../../partials/footer') %>
